<%= form_for @article do |f| %>
<!-- error message first -->
	<%= if @article.errors.any? %>
		<ul>
			<% @articles.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
	
<p>	
	<%= f.label :title %><br>
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label :body %>
	<%= f.text_area :body %>
</p>

	<%= f.submit %>
<% end %>
